<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>339701858953-3d75b0o941k6mc2osc99e73a1b78r0u3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.339701858953-3d75b0o941k6mc2osc99e73a1b78r0u3</string>
	<key>API_KEY</key>
	<string>AIzaSyDfPQ_CX5mZCbEXCi9qhG-RN4MiYmj9me4</string>
	<key>GCM_SENDER_ID</key>
	<string>339701858953</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loginApp</string>
	<key>PROJECT_ID</key>
	<string>login-app-f9382</string>
	<key>STORAGE_BUCKET</key>
	<string>login-app-f9382.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:339701858953:ios:f82af427d04d1024dbfc58</string>
</dict>
</plist>